/* 重置样式 */
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
  /* overflow-y: hidden; */
  /*关闭滚动竖向条 */
  /* overflow-x: hidden; */
  /*关闭滚动横向条 */
}

html {
  box-sizing: border-box;
}

input,
a {
  outline: none;
}

/* flex布局 */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  flex: 1
}

/* 浮动 */
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* 块级 */
.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

/* 外边距 */
.mb_20 {
  margin-bottom: 20px;
}

.mt_20 {
  margin-top: 20px;
}

.ml_54 {
  margin-left: -54px;
}

.ml_41 {
  margin-left: 41px;
}

.bs_box {
  box-sizing: border-box;
}

/* 内边距 */
.pt_50 {
  padding-top: 50px;
}

.pl_30 {
  padding-left: 30px;
}

/* 字体颜色 */
.c_409eff {
  color: #409eff;
}

.color_f56C6C {
  color: #f56C6C;
}

.color_67c23a {
  color: #67c23a;
}

.color_e6a23c {
  color: #e6a23c;
}

.color_909399 {
  color: #909399;
}

/* 背景颜色 */

/* 边框颜色 */
.border_d3dfe6 {
  border: 1px solid #dcdfe6;
}

.border_ebeef5 {
  border: 1px solid #ebeef5;
}

/* 字体大小 */
.font_18 {
  font-size: 18px;
}

/* 字体 */
.ta-l {
  text-align: left;
}

.ta-c {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.w_80 {
  width: 80%;
}

/* overflow */
.over-hidden {
  overflow: hidden;
}